@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'vazir';
    src: url('/f1iran/Vazir-Regular.ttf') format('truetype');
}

:root {
    --white:#f8f8f8;
    --yellow:#fbc72c;
    --blurblack:#191919ea;
}

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    text-align: right;
    box-sizing: border-box;
    transition: all ease 50ms 20ms;
    -webkit-transition: all ease 50ms 20ms;
    -moz-transition: all ease 50ms 20ms;
    -ms-transition: all ease 50ms 20ms;
    -o-transition: all ease 50ms 20ms;
}

a {
    text-decoration: none;
}

.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'vazir' , 'poppins' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e8e8e8e8;
}

.all-content {
    overflow-x: hidden;
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e8e8e8e8;
    padding: 20px;
}

header {
    width: 100%;
    max-width: 1700px;
    background: #191919d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
}

.header-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 30px;
}

.insta-address img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.logo img {
    width: 100%;
}

.header-menu {
    gap: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-button {
    background: transparent;
}

.search-button i {
    font-size: 20px;
    color: var(--white);
}

.header-menu button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
}

.menu-list {
    gap: 30px;
    margin: 0px;
}

.list-items a {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.list-items a:hover {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.912);
    background-color: var(--yellow);
}

main {
    position: relative;
    max-width: 1470px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.first-main-section {
    height: 50%;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.short-news section{
    gap: 15px;
    margin-bottom: 10px;
}

.short-news-content {
    position: relative;
}

.short-news-content img {
    min-height: 290px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.short-news-content div {
    display: flex;
    justify-content: flex-end;
    align-content:center;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top , rgba(19, 19, 19, 0.893) 60% , rgba(35, 35, 35, 0));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.short-news-content div a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:var(--white);
    text-decoration: none;
    text-align-last: right;
}

.second-main-section {
    align-items: flex-start;
    gap: 60px;
    padding: 30px;
    margin-bottom: 150px;
}

.communicate {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.social-medias {
    width: 100%;
    height: 150px;
    flex-direction: column;
    background-image: linear-gradient(to right , var(--yellow) , #ffeb6974);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px  #00000030;
}

.social-medias span {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.social-medias-icon {
    gap: 10px;
}

.social-medias-icon svg {
    max-width: 45px;
    width: 100%;
}

.social-medias-icon a:first-child svg {
    width: 35px;
}

.login-form {
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px #19191920;
    padding:30px;
    margin-bottom: 40px;
}

.login-form h3 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
    background: var(--blurblack);
    padding: 15px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.username , .password {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#username , #password {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
} 

#remember-me {
    cursor: pointer;
}

.login {
    font-size: 18px;
    width: 30%;
    background: var(--blurblack);
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all ease 200ms 30ms;
    -webkit-transition: all ease 200ms 30ms;
    -moz-transition: all ease 200ms 30ms;
    -ms-transition: all ease 200ms 30ms;
    -o-transition: all ease 200ms 30ms;
}

.login:hover {
    color: var(--blurblack);
    background:var(--yellow);
}

.teams-ranking {
    flex-direction: column;
    width: 100%;
}

.teams-ranking h3 {
    font-size: 28px;
    background-color:var(--yellow);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 600;
}

.ranking-table {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ranking-table thead {
    box-shadow: 0px -2px 10px #1919193a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ranking-table thead tr {
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 19% 60% 19%;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    gap: 3px;
}

.ranking-table thead tr th {
    background-color: var(--blurblack);
}

.ranking-table thead tr th:first-child {
    border-top-left-radius: 10px;
}

.ranking-table thead tr th:last-child {
    border-top-right-radius: 10px;
}

.ranking-table tbody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 10px #1919193a;
}

.ranking-table tbody tr {
    font-size: 20px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 5px;
}

th {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}    

td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.ranking-table tbody tr td:first-child {
    background-image: linear-gradient(to top right , #00000037 20% , #d4f0ff17);
    border-right: 3px solid var(--yellow);
}

.ranking-table tbody tr td:last-child {
    background-image: linear-gradient(to top right , #00000037 20% , #d4f0ff17);
    border-left: 3px solid #00000040;
}

.ranking-table tbody tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}

.ranking-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.ranking-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.analaysis-station {
    width: 100%;
    background: #0000000d;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px #00000030;
}

.last-news {
    width: 100%;
    background: var(--blurblack);
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px #00000030;
}

.analaysis-station-title {
    width: 100%;
    flex-direction: column;
}

.last-news-title {
    width: 100%;
    flex-direction: column;
}

.analaysis-station-title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.last-news-title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--white);
}

.analaysis-station-title a , .last-news-title a {
    background-color: var(--yellow);
    color: #000000;
    padding:5px 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
}

.analaysis-station-title a:hover , .last-news-title a:hover {
    color: var(--white);
}

.analaysis-station .divider {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.218);
    margin-bottom: 30px;
}

.last-news .divider {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.966);
    margin-bottom: 30px;
}

.divider + img {
    border-radius: 5px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.analaysis-station h3 {
    margin: 30px 0px;
    font-size: 25px;
}

.last-news h3 {
    color:var(--white) ;
    margin: 30px 0px;
    font-size: 25px;
}

.analaysis-station h3 + div {
    color:#000000ac;
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.last-news h3 + div {
    color:#ffffffb8;
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.analaysis-station h3 + div + div {
    direction: rtl;
    position: relative;
    margin-bottom: 30px;
}

.last-news h3 + div + div {
    color: var(--white);
    direction: rtl;
    position: relative;
    margin-bottom: 30px;
}


.analaysis-station h3 + div + div a {
    margin-right: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.363);
}

.last-news h3 + div + div a {
    margin-right: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}

.station-news , .last-news-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.station-news-content , .last-news-item-content {
    margin-bottom: 30px;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
}

.station-news-content img , .last-news-item-content img {
    width: 100%;
    max-width: 80px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.station-news .news-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.last-news-items .news-text {
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.station-news .news-text span:first-child {
    width: 100%;
    text-align-last:right;
    margin-bottom: 5px;
}

.last-news-items .news-text span:first-child {
    width: 100%;
    text-align-last:right;
    margin-bottom: 5px;
}

.station-news .news-text div {
    color: #000000ac;
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.last-news-items .news-text div {
    color: #ffffffac;
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.station-news .news-text div span:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.last-news-items .news-text div span:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.station-news .news-text div span:nth-child(2) span {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-news-items .news-text div span:nth-child(2) span {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telegram-connection {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.telegram-connection img {
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer {
    background:var(--blurblack);
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer  section {
    width: 100%;
    margin: 20px;
}

footer section:first-child {
    color: var(--white);
    justify-content: flex-end;
    gap: 70px;
}

footer section:first-child div:first-child img {
    max-width: 200px;
    width: 100%;
}

footer section:first-child div:last-child {
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
}

footer section:first-child div:last-child span:last-child {
    font-size: 25px;
    margin-top: 30px;
}

.footer-menu {
    gap: 30px;
    list-style: none;
}

.footer-item {
    font-size: 18px;
    color: var(--white);
}

.footer-item:hover {
    color: var(--yellow);
    text-decoration: none;
}

@media screen and (max-width:1500px) {
    main {
        max-width: 1300px;
    }

    .menu-list {
        gap: 20px;
    }

    .short-news-content img {
        min-height: 230px;
    }   

    .second-main-section {
        gap: 40px;
    }

    .communicate {
        max-width: 350px;
    }
    
    .social-medias {
        padding: 20px 40px;
    }

    .social-medias-icon svg {
        width: 35px;
    }

    .news-text-sentence {
        font-size: 12px;
    }

    .news-text-sentence + div span {
        font-size: 10px;
    }
}

@media  screen and (max-width:1300px) {
    main {
        max-width: 1200px;
    }

    .menu-list {
        gap: 20px;
    }

    .list-items a {
        font-size: 12px;
    }

    .second-main-section {
        gap: 40px;
    }

    .communicate {
        max-width: 265px;
    }
    
    .social-medias {
        padding: 20px 40px;
    }

    .social-medias span {
        font-size: 14px;
    }

    .social-medias-icon svg {
        width: 25px;
    }

    .login-form h3 {
        font-size: 18px;
    }

    .username , .password {
        font-size: 14px;
    }
    
    .checkbox {
        font-size: 14px;
    }

    .login {
        font-size: 14px;
    }

    .teams-ranking h3 {
        font-size: 20px;
    }

    .ranking-table thead tr th {
        font-size: 14px;
        font-weight: 500;
    }

    .ranking-table tbody tr {
        font-size:14px ;
    }

    .analaysis-station-title h2 , .last-news-title h2 {
        font-size: 25px;
    }

    .analaysis-station-title a, .last-news-title a {
        font-size: 12px;
    }

    .analaysis-station h3 , .last-news h3 {
        font-size: 16px;
        font-weight: 600;
    }

    .analaysis-station h3 + div , .last-news h3 + div {
        font-size: 10px;
    }

    .analaysis-station h3 + div + div , .last-news h3 + div + div {
        font-size: 14px;
    } 

    .station-news-content, .last-news-item-content {
        gap: 15px;
    }

    .station-news-content img , .last-news-item-content img {
        max-width: 75px;
    }

    .station-news .news-text div , .last-news .news-text div{
        gap: 0px;
    }

    .news-text-sentence {
        font-size: 11.5px;
    }

    .news-text-sentence + div span {
        font-size: 8px;
    }

    footer section:first-child div:last-child span:first-child {
        font-size: 16px;
    } 

    footer section:first-child div:last-child span:last-child {
        font-size: 18px;
    }

    .footer-item {
        font-size: 14px;
    }
}

@media  screen and (max-width:1000px) {
    main {
        max-width: 1200px;
    }

    .menu-list {
        gap: 10px;
    }

    .search-button i {
        font-size: 12px;
    }

    .list-items a {
        font-size: 10px;
        gap: 4px;
    }

    .short-news-content div a {
        font-size: 11px;
    }

    .short-news-content img {
        min-height: 180px;
    }

    .second-main-section {
        gap: 25px;
        margin-bottom: 0px;
        padding: 20px 5px;
    }

    .communicate {
        max-width: 200px;
    }
    
    .social-medias {
        padding: 20px 40px;
    }

    .social-medias-icon svg {
        width: 35px;
    }

    .news-text-sentence {
        font-size: 12px;
    }

    .news-text-sentence + div span {
        font-size: 10px;
    }
}

@media  screen and (max-width:450px) {

    .all-content {
        padding: 10px;
    }

    header {
        margin: 0px;
        padding: 14px 20px;
    }

    .header-title {
        margin-bottom: 8px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .logo img , .insta-address img {
        width: 80%;
    }

    .search-button i {
        font-size: 18px;
    }

    .menu-list {
        gap: 20px;
    }

    .list-items a {
        font-size: 12px;
    }

    .short-news section  {
        flex-direction: column;
    }

    .short-news-content img {
        max-width: 300px;
        min-height: 250px;
    }

    .second-main-section {
        margin-bottom: 0px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .communicate {
        margin-top: 50px;
        max-width: 300px;
    }

    .social-medias {
        padding: 20px 40px;
    }

    .social-medias-icon svg {
        width: 35px;
    }

    .news-text-sentence {
        font-size: 12px;
    }

    .news-text-sentence + div span {
        font-size: 10px;
    }

    .telegram-connection {
        justify-content: center;
    }

    .telegram-connection img {
        width: 80%;
        margin-bottom: 20px;
        position: absolute;
        bottom: 1210px;
    }

    footer {
        padding: 30px;
    }

    footer section:first-child div:last-child span:first-child {
        font-size: 13px;
        text-align: center;
    } 

    footer section:first-child div:last-child span:last-child {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    footer section:first-child , footer section:first-child div:first-child {
        flex-direction: column-reverse;
    }

    .footer-menu {
        flex-direction: column-reverse;
    }

    .footer-item {
        font-size: 14px;
    }
}

